<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordpress.senidigital.imagemachine">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Boundary.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Boundary.List_Machine" />
        <activity android:name=".Boundary.Machine_Spesification" />
        <activity android:name=".Boundary.Machine_Data" />
        <activity android:name=".Controller.Machine_List_View" />
        <activity android:name=".Boundary.View_Machine" />
        <activity
            android:name=".Boundary.ImageFullScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image_full_screen"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>